/* Root */

 :root {
    --primary-color: #8061FF;
    --secondary-color: #FBBC05;
    --black-1-color: #2F2F2F;
    --gray-color: #8C9295;
    --body-color: #F8FAFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--black-1-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/home-bg.svg);
    background-size: 34% contain;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    background-position-x: right;
    background-position-y: 2rem;
    transition: .4s;
    /* background: linear-gradient(222.89deg, #126FD1 1.86%, #3391F5 55.24%); */
}

img {
    width: 100%;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-justify {
    text-align: justify !important;
}

.text-success {
    color: #30e776 !important;
}

.label-primary {
    background-color: #30e776;
    color: #fff;
    padding: 12px 24px;
    border-radius: 50px;
}

.label-secondary {
    background-color: #f16d6d;
    color: #fff;
    padding: 12px 24px;
    border-radius: 50px;
}

[mt-30] {
    margin-top: 30px;
}

[mt-50] {
    margin-top: 50px;
}

[mt-100] {
    margin-top: 100px;
}

[mb-50] {
    margin-bottom: 50px;
}

[mb-100] {
    margin-bottom: 100px;
}


/* Button Kit */

.btn-custom {
    background-color: var(--primary-color);
    border-radius: 0px 12px 12px 0px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 24px;
    color: #FFF;
}

.btn-custom:hover {
    background-color: #7353f1;
    color: #fff;
}

.btn-custom:focus {
    background-color: #7353f1;
    box-shadow: none !important;
    color: #FFF;
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 12px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 24px;
}

.btn-primary:hover {
    background-color: #7353f1;
}

.btn-primary:focus {
    background-color: #7353f1;
    box-shadow: none !important;
}

.btn-outline-primary {
    border: 2px solid var(--primary-color);
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-outline-primary:focus {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: none !important;
}

.btn-white {
    background-color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 24px;
    color: var(--primary-color);
}

.btn-white:hover {
    color: var(--primary-color);
    background-color: #fff;
}

.btn-white:focus {
    color: var(--primary-color);
    background-color: #fff;
    box-shadow: none;
}


/* Form Input */


/* 
.input-group>.form-control {
    border-radius: 12px !important;
} */

.form-control {
    padding: 14px 19px;
    color: var(--black-1-color);
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 12px;
}

.box-search .form-control {
    padding: 9px 19px;
    color: var(--black-1-color);
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 15px;
}

.form-control::placeholder {
    font-size: 14px;
    color: var(--place-color);
    letter-spacing: 0em;
    font-weight: 300;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--primary-color);
}

.form-select {
    padding: 14px 19px;
    color: var(--black-1-color);
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 12px;
}

select.form-select:placeholder-shown {
    color: var(--black-1-color);
}

.form-select:focus {
    box-shadow: none;
    border: 1px solid var(--primary-color);
}

label span {
    color: var(--secondary-color);
}


/* Validation form */

.was-validated .form-control:valid {
    background-image: none;
}

.was-validated .form-control:valid:focus {
    box-shadow: none;
}

.was-validated .form-control:invalid:focus {
    box-shadow: none;
}

.input-group-text {
    border: none;
    background-color: transparent;
}


/* ===== SHOW HIDE PASSWORD ===== */

button#toggle-password {
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 9;
    width: 28px;
    height: 30px;
    background: 0;
    border: 0;
}

button#toggle-password:active,
button#toggle-password:focus,
button#toggle-password:hover {
    cursor: pointer;
}

button#toggle-password:focus {
    outline: none !important;
}

.input-password {
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input-password[type=password]:valid {
    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z'/%3E%3Cpath fill-rule='evenodd' d='M13.646 14.354l-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E") !important;
}

.input-password[type=text]:valid {
    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z'/%3E%3Cpath fill-rule='evenodd' d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/%3E%3C/svg%3E") !important;
}


/* Navbar */

.bg-light {
    background-color: var(--body-color)!important;
}

.nav-link.active svg path {
    fill: var(--primary-color);
    fill-opacity: 100;
}

.nav-link.active svg .bag {
    fill: var(--primary-color);
    fill-opacity: 0!important;
}

svg path {
    fill: transparent;
    stroke: var(--primary-color);
}

svg:hover path {
    fill: var(--primary-color);
    fill-opacity: 100;
    transition: 0.3s;
}

svg:hover .bag {
    fill: var(--primary-color);
    fill-opacity: 0!important;
    transition: 0.3s;
}


/* Home */

.home-profile-img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #fff;
    margin-right: 10px;
}

.home-profile h5 {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.home-profile span {
    font-size: 14px;
    color: #fff;
}


/* Content Home */

.content-home {
    background-color: var(--body-color);
    padding: 18px 0px 48px 0px;
    border-radius: 24px 24px 0px 0px;
}

.line {
    width: 20%;
    height: 7px;
    border-radius: 7px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-siandes .card {
    /* background-color: transparent; */
    width: 90%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    border-radius: 14px;
    padding: 18px;
}

.service-siandes a {
    text-decoration: none;
}

.service-siandes p {
    font-size: 12px;
    font-weight: 400;
}


/* Banner Slider */

.owl-carousel .owl-item img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 12px;
}

.owl-theme .owl-dots {
    text-align: left;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    margin-left: 15px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: #ebebeb;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
    transition: .5s;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 21px;
    height: 7px;
    background: var(--primary-color);
}


/* Blogs */

.header-title {
    font-weight: 600;
    color: var(--black-1-color);
}

.blogs .card {
    filter: drop-shadow(4px 4px 12px rgba(0, 117, 255, 0.05));
}

.blogs-body .card-title {
    color: var(--black-1-color);
}

.blogs-body .card-text p {
    font-weight: 300;
    font-size: 14px;
    color: #b6b6b6;
}

.blogs-body .card img {
    border-radius: 12px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    overflow: hidden;
}

.blogs-body .card {
    border-radius: 12px;
}

.blogs-body a {
    color: var(--primary-color);
    font-size: 14px;
}

.blogs-detail img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 12px;
}

.blogs-title h5 {
    color: var(--black-1-color);
}

.blogs-title p {
    font-size: 14px;
}

.blogs-content p {
    color: var(--black-1-color);
}


/* Card Custom */

.card-custom .card {
    aspect-ratio: 21 / 9;
    background-image: url(../images/card-bg.svg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 32%;
    background-color: var(--primary-color);
    border-radius: 12px;
}

.card-custom .card-title {
    font-weight: 500;
    color: #fff;
}

.card-custom .card-sub {
    font-size: 0.7rem;
    color: #e6e6e6;
}

.card-sub-text {
    font-size: 14px;
    color: #b6b6b6;
}


/* Custom Page */

.content-page {
    background-color: var(--body-color);
    min-height: 100vh;
    padding: 18px 0px 48px 0px;
    border-radius: 24px;
}

.riwayat .active a {
    color: var(--primary-color);
}


/* Track */

.track {
    position: relative;
    background-color: #dadada;
    height: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
    font-size: 12px;
    color: rgb(184, 184, 184);
}

.track .step .icon {
    font-size: 10px;
    margin-top: 5px;
    color: #fff;
}

.nav-pills .nav-link {
    background-color: #fff;
}

.track .step.active:before {
    background: var(--primary-color)
}

.track .step::before {
    height: 5px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: var(--primary-color);
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: relative;
    border-radius: 100%;
    background: #dadada;
}

.track .step.active .text {
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-color);
}

.track .text {
    display: block;
    margin-top: 7px
}

.back-nav i {
    color: #fff;
}

.back-nav a {
    font-size: 19px;
    font-weight: 300;
    color: #fff;
}

.track i {
    color: #fff;
}


/* Profile */

.profile-img {
    width: 100px;
    height: 100px;
    padding: 4px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.profile-item {
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 12px;
}

.profile-item .text-item {
    color: var(--black-1-color);
}

.profile-item .icon-item i {
    color: var(--primary-color);
}


/* Layanan */

.layanan .card {
    /* background-image: url(../images/layanan-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top; */
    background-size: 40%;
    border-radius: 12px;
    filter: drop-shadow(4px 4px 12px rgba(0, 117, 255, 0.05));
}

.layanan .card h5 {
    font-size: 19px;
}

.layanan .card p {
    font-size: 14px;
    color: #b6b6b6;
}

.layanan .card i {
    color: var(--primary-color);
    font-size: 1rem;
}

.layanan a:hover {
    color: var(--primary-color);
}

.layanan a:focus {
    color: var(--primary-color);
}

section.auth-section {
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--body-color);
    height: max-content;
}


/* Coming Soon */

.comingsoon {
    background-image: url(../images/coming-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10rem;
    min-height: 80vh;
}

.comingsoon p {
    color: #8C9295;
    font-weight: 400;
    font-size: 1rem;
}


/* Loadmore */

.card-blogs {
    display: none;
}

.noContent {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    pointer-events: none;
    padding: 9px 24px;
}


/* Image edit */

.img-edit img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid #fff;
}

.profile-pic {
    width: 100px;
    max-height: 100px;
    display: inline-block;
}

.file-upload {
    display: none;
}

.circle {
    border-radius: 100% !important;
    background-color: #fff;
    overflow: hidden;
    width: 104px;
    height: 104px;
    border: 2px solid var(--primary-color);
}

.p-image {
    position: absolute;
    padding-left: 80px;
    padding-top: 65px;
    z-index: 99999;
    color: #fff;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 8px;
    font-size: 1em;
    color: #fff;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #fff;
}


/* Kecamatan */

.layanan-camat .card-title {
    font-size: 1rem;
}


/* Tabs custom */

.kecamatan .nav {
    flex-wrap: nowrap !important;
}

.nav-fill .nav-item .nav-link {
    border-radius: 6px;
    padding: 12px;
    color: var(--black-1-color);
    font-size: 14px;
    font-weight: 500;
}

.nav-fill .nav-item .nav-link.active {
    background-color: var(--primary-color);
    color: #fff;
}


/* Custom Modal */

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1rem;
    outline: 0;
}


/* Accordion Custom */

.accordion-item:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: calc(1rem - 1px);
}

.accordion-item {
    background-color: #fff;
    border: 2px solid #8161ff27;
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: none
}

.accordion-button:not(.collapsed) {
    color: var(--primary-color);
    background-color: #8161ff27;
    box-shadow: none;
}

.accordion-body p {
    font-size: 14px;
    color: var(--black-1-color);
}

.accordion-body ol li {
    font-size: 14px;
    color: var(--black-1-color);
    text-align: justify;
}

.table-nomor .card {
    padding: 12px;
}

.table-nomor .table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 12px;
}

.table-nomor .table tr {
    vertical-align: middle;
}

.table-nomor .table th {
    color: var(--primary-color) !important;
    font-size: 14px;
    font-weight: 500;
}

.table-nomor .table td {
    color: var(--black-1-color) !important;
    font-size: 14px;
    font-weight: 400;
}

.table-nomor .table>:not(:first-child) {
    border-top: 1px solid currentColor;
}

.splash-screen {
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}

@media (min-width: 992px) {
    html {
        max-width: 576px;
        margin: auto;
    }
    nav {
        max-width: 576px;
        margin: auto;
    }
}